@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #111827;
  background-color: #f9fafb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
  color: #111827;
}

a {
  color: #3b82f6;
  text-decoration: none;
}

a:hover {
  color: #2563eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f3f4f6;
    background-color: #1f2937;
  }

  body {
    background-color: #1f2937;
    color: #f3f4f6;
  }
}
