aws_region = "us-east-1"
database_url = "postgresql://postgres.xxx:xxx@aws-0-us-east-2.pooler.supabase.com:6543/postgres"
jwt_secret = "your-jwt-secret"
session_secret = "your-session-secret"
google_client_id = "your-google-client-id"
google_client_secret = "your-google-client-secret"
frontend_url = "your-frontend-url"